html {
  background-image: url('https://idei.club/uploads/posts/2022-09/1662086911_1-idei-club-p-komnata-s-yelkoi-oboi-1.jpg');
  color: #fff;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
}

body {
/*  background: linear-gradient(to bottom, #1c1c1d, rgb(35, 34, 34)); */

}

#__next {
  min-height: 100vh;
  grid-auto-rows: auto 1fr auto;
}