html {
  background-image: url('https://img3.akspic.ru/previews/0/2/6/2/3/132620/132620-rozhdestvenskie_ukrasheniya-derevo-rozhdestvenskie_ogni-osveshhenie-art-x750.jpg');
  color: #fdf2f2;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

body {
/*  background: linear-gradient(to bottom, #1c1c1d, rgb(35, 34, 34)); */
}

#__next {
  min-height: 100vh;
  grid-auto-rows: auto 1fr auto;
}