.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkp {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Menu */
.header {
  overflow: hidden;
  background-color: linear-gradient(to right top, red, blue);;
  padding: 20px 10px;
}

.header a {
  color: rgb(230, 230, 230);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.headerr {
  float: right;
}

@media screen and (max-width: 630px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .headerr {
    float: none;
  }
}

/* Страница posts ссылки на файлы  */
.file {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.file:visited {
color: #fff;
}

.rightpic {
  float: right; /* Выравнивание по правому краю */
  margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
}

.img {
  margin: 10px auto 20px;
  display: block;
}

.flexcontainer {
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;

  /*this centers the text vertically*/
  align-items: center;

  height: 200px;

}

.flex_a {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;
  
  /*this centers the text vertically*/
  align-items: center;
  color: darkturquoise;
}

.flex_text {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;
  
  /*this centers the text vertically*/
  align-items: center;
}

.headerp {
  text-align: center;
  overflow: hidden;
  background-color: linear-gradient(to right top, red, blue);;
  padding: 20px 10px;
}

.headerp a {
  color: rgb(230, 230, 230);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.headerp a.logo {
  font-size: 25px;
  font-weight: bold;
}

.headerp a:hover {
  background-color: #ddd;
  color: black;
}

.headerp a.active {
  background-color: dodgerblue;
  color: white;
}

/* TEST JS MENU */ 
   /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 


/** Для картинок **/
.imag {
  background-color: #ddd, 50px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;
  
  /*this centers the text vertically*/
  align-items: center;
}

  
.qrcode {
  text-align: right;
  bottom: 0;
  width: auto;
  margin-bottom: 10px;
  position: fixed;
}  

.qrcode_vk {
  margin-left: 10px;
}

.text {
  text-align: center;
}